autoenv==1.0.0
colorama==0.3.6
decorator==4.0.6
Flask==0.10.1
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
pathlib==1.0.1
pg==0.1
Pillow==3.2.0
psutil==3.4.2
psycopg2==2.6.1
PyOpenGL==3.1.0
six==1.10.0
textblob==0.11.1
thefuck==3.3
virtualenv==15.0.1
Werkzeug==0.11.9
python-dotenv
Flask-SQLAlchemy==2.1
Flask-Migrate==1.8.0
Flask-Script
