{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('create_response') }}" method=post class=add-response>
    <dl>
      <dt>Question:
        <select id="question" name=question>
          {% for question in questions %}
          <option value={{question.id}}>{{question.title}}</option>
          {% endfor %}
        </select>

      <dt>Answer:
        <textarea id="response_text" name=answer row="30"></textarea>
      </dl>
      
        <div class="center-align">
          <button id="grade" class="btn-large waves-effect waves-light" type="submit">GRADE</button>
        </div>

      <p id="ajax-test"></p>
{% endblock %}
