{% extends "layout.html" %}
{% block body %}
<h6>Make me smarter please</h6>

<div class="input-field col s12">
  <dt>Question:
    <select id ="training_question" name=training_question>
      <option value= "" disabled selected>Select a Question</option>
      {% for question in questions %}
      <option value={{question.id}}>{{question.title}}</option>
      {% endfor %}
    </select>
</div>
<p>Take a look at the responses for this question</p>

  <div id="card">
  <!--JS will insert the questions cards here -->
  </div>
{% endblock %}
