{% extends "layout.html" %}
{% block body %}
<div id="main">
  <div id="left-side">
    <h5>MAKE ME SMARTER PLEASE :)</h5>

    <div class="input-field col s12">
        <select id ="training_question" name=training_question>
          <option value= "" disabled selected>Select a Question</option>
          {% for question in questions %}
          <option value={{question.id}}>{{question.title}}</option>
          {% endfor %}
        </select>
    </div>
  </div>

  <div id="right-side">
    <div id= "response-menu">
      <div id="test_cat_div">
        <select id ="test_cat" name=test_cat>
        </select>
      </div>
      <div id="new-cat-button">
        <a id= "new_cat" class="modal-trigger btn-floating waves-effect waves-light" href= "#cat-modal"><i class="material-icons">add</i></a>
    </div>
      <div id="training-testing">
        <div>
          <input id="training" type="checkbox"  />
          <label for="training">Training</label>
        </div>
        <div>
         <input id="testing" type="checkbox" />
         <label for="testing">Testing</label>
       </div>
   </div>
   <div id="training-submit">
     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
     <i class="material-icons right">send</i>
   </button>
  </div>
    </div>
    <div id="card">
    <!--JS will insert the questions cards here -->
    </div>
    <a id="next_card">Skip</a>
  <!-- select area to add the category options to a response -->

  <div id="placeholder-screen">
    <i class="material-icons large">android</i>
    <p>waiting to learn...</p>
  </div>

  <!-- form to add a category to the question based on the given response ... revealed by jquery-->
  </div>
</div>

<div id="cat-modal" class="modal">
  <div class="modal-content">
    <div id= "cat_form" class="row">
      <h4 class="form_header">New Category</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="feedback" type="text" class="validate">
            <label for="feedback">Feedback</label>
          </div>
        </div>
      </form>
      <a id="cat_form_submit" class="waves-effect waves-light btn">Submit</a>
      <a id="cat_form_cancel" class="waves-effect waves-light btn">Cancel</a>
    </div>

  </div>
</div>
{% endblock %}
